@font-face {
    font-family: copper_bit;
    src: url(../fonts/Cooper\ Black\ Regular.ttf);
}

body {
    overflow-x: hidden;
}

.navbar,
.collapse {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-between;
}

.fondo {
    background: url(/img/Fondo_web.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    width: 120px;
    height: 70px;
    object-fit: cover;
}

.fa-solid {
    position: relative;
    top: 5px;
    margin-right: 2px;
}

.carousel-item img {
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

#navbarNavDropdown {
    transform: translate(50px, 20px);
}

.promo_banner {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.promo_banner p {
    font-size: 1.2rem;
    font-family: copper_bit;
    font-weight: bold;
}

.code_promo {
    font-size: 3rem;
    font-weight: bold;
}

.code_promo2 {
    font-size: 1rem;
    font-weight: bold;
}

.nav-item {
    margin-right: 200px;
}

.hvr-underline-from-center {
    background-color: #0f4396;
}

.h {
    text-decoration: none;
}

@media (max-width:800px) {
    #navbarNavDropdown {
        transform: translate(50px, 20px);
    }
}